{% extends "base.html" %}

{% block content %}
    <h1>Mano užsakymai</h1>

    {% if uzsakymas_list %}
    <ul>

      {% for uzsakymas in uzsakymas_list %}
      <li class="{% if uzsakymas.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'uzsakymas_detail' uzsakymas.motociklas.id%}">{{uzsakymas.motociklas}}</a> ({{ uzsakymas.grazinimas }}) -- {{uzsakymas.get_status_display}}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>Šiuo metu neturite užsakymų</p>
    {% endif %}
{% endblock %}