{% extends "base.html" %}

{% block content %}
  <h1>Užsakymų sąrašas</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Užsakymo data</th>
        <th scope="col">Statusas</th>
        <th scope="col">Klientas</th>
        <th scope="col">Motociklas</th>
        <th scope="col">Valstybiniai numeriai</th>
        <th scope="col">Atsakingas</th>
    </tr>
    </thead>
    <tbody>
    {% for uzsakymas in uzsakymas_list %}
    <tr>
        <th scope="row"><a href="{{ uzsakymas.id }}">{{ uzsakymas.data }}</a></th>
        <td> {{ uzsakymas.get_status_display }}</td>
        <td> {{ uzsakymas.motociklas.klientas }}</td>
        <td> {{ uzsakymas.motociklas.motociklo_modelis }}</td>
        <td> {{ uzsakymas.motociklas.valstybinis_NR }}</td>
        <td><img class="rounded-circle img-fluid.max-width: 10%" src="{{uzsakymas.vartotojas.profilis.nuotrauka.url}}"></td>
    </tr>
    {% endfor%}
    </tbody>
    </table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}