{% extends "base.html" %}

{% block content %}
<h4>Užsakymo informacija</h4>
<ul>
    <li><b>Motociklas: </b>{{uzsakymas.motociklas}}</li>
    <li><b>Užsakymo data: </b>{{uzsakymas.data}}</li>
    <li><b>Grąžinimo data: </b>{{uzsakymas.grazinimas}}</li>
    <li><b>Klientas: </b>{{uzsakymas.motociklas.klientas}}</li>
    <li><b>Būsena: </b>{{uzsakymas.get_status_display}}</li>
</ul>
{% if object.vartotojas == user %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'manouzsakymaiupdate' uzsakymas.id %}">Redaguoti</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'manouzsakymaidelete' uzsakymas.id %}">Ištrinti</a>
</div>
{% endif %}
<hr>
<h5>Užsakytos paslaugos </h5>

{% if object.vartotojas == user %}
<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'paslaugospridejimas' object.id %}">+ Pridėti</a>
{% endif %}

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Paslauga</th>
        <th scope="col">Kiekis</th>
        <th scope="col">Kaina</th>
        <th scope="col">Suma</th>
        <th scope="col">Veiksmas</th>
    </tr>
    </thead>
    <tbody>
    {% for eilute in uzsakymas.eilutes.all %}
    <tr>
        <td scope="row">{{ eilute.paslauga.pavadinimas }}</td>
        <td> {{ eilute.kiekis }}</td>
        <td> {{ eilute.paslauga.kaina }}</td>
        <td> {{ eilute.kaina }}</td>
        <td>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'paslaugosredagavimas' uzsakymas.id eilute.id %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'paslaugostrinimas' uzsakymas.id eilute.id %}">Ištrinti</a>
        </td>
    </tr>
    {% endfor%}
    <tr>
        <th colspan="3">BENDRA</th>
        <th>{{ uzsakymas.suma }}</th>
    </tr>
    </tbody>
</table>
</br>
  <h5>Atsiliepimai:</h5>
  {% if uzsakymas.uzsakymoreview_set.all %}
    {% for review in uzsakymas.uzsakymoreview_set.all %}
      <hr>
      <strong>{{ review.reviewer }}</strong>, <em>{{ review.date_created}}</em>
      <p>{{ review.content }}</p>
    {% endfor %}
  {% else %}
    <p>Užsakymas neturi atsiliepimų</p>
  {% endif %}
{% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.content }}</br>
      <input type="submit" value="Išsaugoti">
    </form>
  </div>
  {% endif %}

{% endblock %}